<div>

    <h2>Celebridades</h2>
    {{#each celebrities}}
</div>

<div>

<h2>{{this.name}}</h2>
<h2>
    Ocupation: {{this.ocupation}} <br>
    Catchphrase: {{this.catchPhrase}}
</h2>
{{/each}}
</div>