<div>

    <h2>Adiciona tu Celebridad</h2>

    <form action="/celebrities/create" method="POST">
    <label for="text">Nombre de Celebridad:</label>
    <input type="text" name="name">
    <label for="text">Ocupación:</label>
    <input type="text" ocupation="ocupation">
    <label for="text">Slogan:</label>
    <input type="text" catchPhrase="catchpharse">
    <button type="submit">Crea tu Celebridad</button>

</div>